<strong>Note: all new APIs made by anyone who is not an admin needs to be approved first.</strong>
<p>Also, you can edit you API content if you made an error. <br>
<strong>However</strong>, once the api content is approved by an admin, API content developers cannot edit that particular API content.</p>
<p>If you see an error or need to edit an approved API content, please contact an admin.</p>
