<p id="notice"><%= notice %></p>

<h1 style="text-align:center; font-size: 2.5em;">Typography APIs</h1>
<%if !@current_user.nil? && @current_user.approved == true %>
<%= render 'content' %>
<% else %>
<%= render 'message/noaccess' %>
<% end %>
