<p id="notice"><%= notice %></p>

<h1>Listing All Typographies</h1>
<%if !@current_user.nil? && @current_user.approved == true %>
<%= render 'content' %>
<% else %>
<%= render 'message/noaccess' %>
<% end %>
