<h1>Apis</h1>

<h2>Typographies</h2>
<% @approved_typographies.each do |content| %>
      <p>
        Title: <%= content.title %>
        Image: <%= content.image %>
      </p>
    </tr>
    <% end %>

<h2>Color Palettes</h2>
<strong>@TBC = "To be coded"</strong>
<h2>Code Snippets</h2>
<strong>@TBC = "To be coded"</strong>
<h2>Hi Def Images</h2>
<strong>@TBC = "To be coded"</strong>
<h2>Onepage</h2>
<strong>@TBC = "To be coded"</strong>
<h2>UXUI</h2>
<strong>@TBC = "To be coded"</strong>


